{% load custom_filters %}
{% csrf_token %}
    {% if videos %}
        {% for video in videos %}
            <div class="video-item" id="video-{{ video.youtube_id }}" data-method="{{video.method}}">
  
                <div class="video-header">
                    <h3 class="video-title">{{ video.title }}</h3>
                    <div class="video-options"> {% include "video_options.html" with video=video %}</div> 
                </div>

                <p class="video-description">{{ video.description }}</p>

                <!-- Vídeo (Iframe) -->
                <div class="video-container">
                    <div class="play-overlay">
                        <div class="play-button"></div>
                    </div>
                    
                    <iframe 
                        class="video-iframe"
                        src="https://www.youtube.com/embed/{{ video.youtube_id }}?enablejsapi=1" 
                        allowfullscreen
                        data-video-id="{{ video.youtube_id }}">
                    </iframe>
                </div>

                <div class="like-dislike-container"> 
                    <button class="rate-button {% if user_ratings|get_item:video.youtube_id == 1 %}liked{% endif %}"
                        data-url="{% url 'rate_video'%}"
                        data-video-id="{{ video.youtube_id }}" 
                        data-rating="1">Curtir</button>
                    <button class="rate-button {% if user_ratings|get_item:video.youtube_id == -1 %}disliked{% endif %}"
                        data-url="{% url 'rate_video' %}"
                        data-video-id="{{ video.youtube_id }}" 
                        data-rating="-1">Não Curtir</button>
                </div>
                <div class="rating-message"></div>

            </div>
        {% endfor %}
        {% else %}
            <p>Nenhum vídeo encontrado.</p>
    {% endif %}