{% extends 'base.html' %}

{% block title %}
    Recomendador Híbrido - Recomendador de Vídeos
{% endblock %}

{% block content %}
    <section class="search-section">
        <h3>Digite o termo de busca para encontrar vídeos no YouTube.</h3>
        <form action="{% url 'video_search' %}" method="GET">
            <input type="text" name="query" placeholder="Digite o termo de busca" required>
            <button type="submit">Buscar</button>
        </form>
    </section>

    <hr>

    <section>
        <h2>Recomendações com base nos videos que curtiu e no que os usuarios estão gostando!</h2>
        <!-- Seleção do método de cálculo de similaridade -->
        <form action="" method="get" class="method-selection-form">
            <label for="metodo">Escolha o método de cálculo:</label>
            <select name="metodo" id="metodo" onchange="this.form.submit()">
                <option value="cosseno" {% if metodo == 'cosseno' %}selected{% endif %}>Similaridade Cosseno</option>
                <option value="pearson" {% if metodo == 'pearson' %}selected{% endif %}>Correlação de Pearson</option>
            </select>
        </form>

        <!-- Inclusão da lista de vídeos recomendados -->
        {% include 'apps/youtube/video_list.html' with videos=videos %}
    </section>
{% endblock %}
