{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
   
{% block title %}
    Recomendador Híbrido - Recomendador de Vídeos
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/videos.css' %}">
    <link rel="stylesheet" href="{% static 'css/pesquisa.css' %}">
{% endblock %}
{% block content %}
{% include 'search_section.html' with action_url='video_search' search_title="Pesquise por vídeos no YouTube." %}
<section>
    <h2>Recomendações para você aproveitar</h2>

    <section class="video-section">
        {% include 'apps/youtube/video_list.html' with videos=videos %}
     </section>
</section>
{% endblock %}
{% block scripts %}
   <script src="{% static 'js/recommendation.js' %}"></script>
   <script src="{% static 'js/video_options.js' %}"></script>
{% endblock %}

