{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
   
{% block title %}
    Recomendador Híbrido - Recomendador de Vídeos
{% endblock %}

{% block content %}
<section class="search-section">
    <h3>Digite o termo de busca para encontrar vídeos no YouTube.</h3>
    <form action="{% url 'video_search' %}" method="GET">
        <input type="text" name="query" placeholder="Digite o termo de busca" required>
        <button type="submit">Buscar</button>
    </form>
</section>
<hr>
<section>
    <h2>Recomendações para você aproveitar</h2>

    {% include 'apps/youtube/video_list.html' with videos=videos %}
    
</section>
<script src="{% static 'js/recommendation.js' %}"></script>
{% endblock %}

