{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/playlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/videos.css' %}">
{% endblock %}
<div class="form-container">
    <h2>Adicionar Vídeos à Playlist: {{ playlist.nome }}</h2>

    <form method="post">
        {% csrf_token %}

        <!-- Campo de busca para filtrar vídeos -->
        <div class="mb-3">
            <label for="search_videos" class="form-label">Buscar vídeos para adicionar:</label>
            <input type="text" id="search_videos" class="form-control" placeholder="Digite para buscar vídeos..." onkeyup="buscarVideos()">
        </div>
        <div id="lista-videos" class="row">
            {% for video in videos %}
                <div class="video-item {% if forloop.counter > 15 %}hidden-video{% endif %}" data-title="{{ video.title|lower }}">
                    <label class="d-block">
                        <input type="checkbox" name="videos" value="{{ video.id }}" class="video-checkbox">
                        {{ video.title }}
                    </label>
                </div>
            {% endfor %}
        </div>        
        <div class="button-group">
            <button type="submit" class="btn btn-add">Adicionar</button>
            <a href="{% url 'detalhe_playlist' playlist.id %}" class="btn btn-cancel">Cancelar</a>
        </div>
    </form>
</div>

<script src="{% static 'js/playlist.js' %}"></script>
{% endblock %}
