{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/videos.css' %}">
    <link rel="stylesheet" href="{% static 'css/pesquisa.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Criar Playlist</h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nome" class="form-label">Nome da Playlist</label>
            {{ form.nome }}
        </div>
        <div class="mb-3">
            <label for="id_descricao" class="form-label">Descrição</label>
            {{ form.descricao }}
        </div>
        <br>    
            <!-- Campo de busca para filtrar vídeos -->
            <div class="mb-3">
                <label for="search_videos" class="form-label">Buscar vídeos para adicionar:</label>
                <input type="text" id="search_videos" class="form-control" placeholder="Digite para buscar vídeos..." onkeyup="buscarVideos()">
            </div>

            {% if video_pre_selecionado %}
                <input type="hidden" name="video_id" value="{{ video_pre_selecionado.youtube_id }}">
                <p> O video: <strong>{{ video_pre_selecionado.title}}</strong> já será adicionado a playlist.</p>
            {% endif %}
    
            <div id="lista-videos" class="row">
                {% for video in videos %}
                    <div class="video-item {% if forloop.counter > 15 %}hidden-video{% endif %}" data-title="{{ video.title|lower }}">
                        <label class="d-block">
                            <input type="checkbox" name="videos" value="{{ video.id }}" class="video-checkbox">
                            {{ video.title }}
                        </label>
                    </div>
                {% endfor %}
            </div>

        <button type="submit" class="btn btn-add">Criar Playlist</button>
        <a href="{% url 'lista_playlists' %}" class="btn btn-back">Voltar para a listagem</a>

    </form>
</div>
<script src="{% static 'js/playlist.js' %}"></script>
{% endblock %}
