{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>Criar Playlist</h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nome" class="form-label">Nome da Playlist</label>
            {{ form.nome }}
        </div>
        <div class="mb-3">
            <label for="id_descricao" class="form-label">Descrição</label>
            {{ form.descricao }}
        </div>
        <br>    
            <!-- Campo de busca para filtrar vídeos -->
            <div class="mb-3">
                <label for="search_videos" class="form-label">Buscar vídeos para adicionar:</label>
                <input type="text" id="search_videos" class="form-control" placeholder="Digite para buscar vídeos..." onkeyup="buscarVideos()">
            </div>
    
            <div id="lista-videos" class="row">
                {% for video in videos %}
                    <div class="col-md-6 video-item {% if forloop.counter > 15 %}hidden-video{% endif %}" data-title="{{ video.title|lower }}">
                        <label class="d-block">
                            <input type="checkbox" name="videos" value="{{ video.id }}" class="video-checkbox"
                                {% if video_pre_selecionado and video.id == video_pre_selecionado.id %}checked{% endif %}>
                            {{ video.title }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            
            <!-- Campo oculto para enviar o ID do vídeo pré-selecionado -->
            {% if video_pre_selecionado %}
                <input type="hidden" name="video_id" value="{{ video_pre_selecionado.youtube_id }}">
            {% endif %}
            
            
            
        <button type="submit" class="btn btn-success">Criar Playlist</button>
        <button class="btn btn-secondary" onclick="history.back()">← Voltar</button>

    </form>
</div>
<script src="{% static 'js/playlist.js' %}"></script>

<style>
    .video-item {
        display: block;
        padding: 5px;
    }
    
    .hidden-video {
        display: none;
    }
    </style>
{% endblock %}
