{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/playlist.css' %}">
{% endblock %}
{% block content %}
<h2>Escolha uma Playlist</h2>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="video_id" value="{{ video.youtube_id }}">
    
    {% include "apps/playlists/playlist_list.html" with playlists=playlists show_radio=True empty_message="Você não tem playlists disponíveis para este vídeo." %}

    <button type="submit" class="btn btn-add">Adicionar</button>
    <a href="{% url 'criar_playlist' %}?video_id={{ video.youtube_id }}" class="btn btn-primary">Criar nova playlist com o vídeo</a>
</form>
{% endblock %}