<div class="playlist-container">
    {% for playlist in playlists %}
        <a href="{% url 'detalhe_playlist' playlist.id %}" class="playlist-link">
            <div class="playlist-item">
                <div class="playlist-item-header">
                    {% if playlist.videos.exists %}
                        <img src="{{ playlist.videos.first.video.thumbnail_url }}" alt="Capa da Playlist" class="playlist-thumbnail">
                    {% endif %}
                    {% if show_radio %}
                    <div class="playlist-info">
                        <label>
                            <input type="radio" name="playlist_id" value="{{ playlist.id }}" required>
                            <strong>{{ playlist.nome }}</strong>
                            <p class="playlist-description">{{ playlist.descricao }}</p>
                         </label>
                    </div>
                    {% else %}
                    <div class="playlist-info">
                        <p class="playlist-title">{{ playlist.nome }}</p>
                        <p class="playlist-description">{{ playlist.descricao }}</p>
                    </div>
                    {% endif %}
                </div>

                <div class="playlist-videos">
                    {% for pv in playlist.videos.all|slice:":3" %}
                        <p> • {{ pv.video.title }}</p>
                    {% endfor %}

                    {% if playlist.videos.count > 3 %}
                        <span class="more-videos">+ {{ playlist.videos.count|add:"-3" }} mais</span>
                    {% endif %}
                </div>
            </div>
        </a>
    {% empty %}
        <p>{{ empty_message|default:"Nenhuma playlist encontrada." }}</p>
    {% endfor %}
</div>
