{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home - Recomendador de Vídeos
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/videos.css' %}">
    <link rel="stylesheet" href="{% static 'css/pesquisa.css' %}">
{% endblock %}
{% block content %}
    {% include 'search_section.html' with action_url='video_search' search_title="Pesquise por vídeos no YouTube." %}
    <h2>Recomendações Baseadas nos Seus Interesses</h2>
    <section class="video-section">
        {% include 'apps/youtube/video_list.html' with videos=videos %}
    </section>
    <h2>Recomendações Personalizadas</h2>
    <section class="video-section">
        {% include 'apps/youtube/video_list.html' with videos=videos_recomendados %}
    </section>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/recommendation.js' %}"></script>
<script src="{% static 'js/video_options.js' %}"></script>
{% endblock %}