{% extends 'base.html' %}
{% load static %}

{% block title %}
    Histórico de Vídeos Assistidos
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/videos.css' %}">
    <link rel="stylesheet" href="{% static 'css/pesquisa.css' %}">
    <link rel="stylesheet" href="{% static 'css/paginacao.css' %}">
{% endblock %}
{% block content %}

    {% include 'search_section.html' with action_url='video_history' search_title="Seu Histórico de Vídeos." search_placeholder="Pesquisar no histórico" %}

    <section>
        {% if query %}
        <h3>Resultados da Pesquisa por {{query}}.</h3>
        {% endif %}
        <section class="video-section">
        {% include 'apps/youtube/video_list.html' with videos=videos_history %}
        </section>
    </section>

    <div class="pagination">
        <span class="step-links">
            {% if videos_history.has_previous %}
                <a href="?page=1{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo; primeira</a>
                <a href="?page={{ videos_history.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ videos_history.number }} de {{ videos_history.paginator.num_pages }}
            </span>

            {% if videos_history.has_next %}
                <a href="?page={{ videos_history.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">próxima</a>
                <a href="?page={{ videos_history.paginator.num_pages }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

<script src="{% static 'js/recommendation.js' %}"></script>
<script src="{% static 'js/video_options.js' %}"></script>
{% endblock %}
