/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 5px;
}

header nav ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 1rem; 
}

header nav ul li {
    display: inline-block;
}

header nav ul li a, 
header nav ul li form button {
    color: #fff;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease; 
}

header nav ul li a:hover, 
header nav ul li form button:hover {
    background-color: #555; 
    border-radius: 5px;
}

header nav ul li form {
    display: inline-block;
    margin: 0; 
    padding: 0; 
}

/* Seção de pesquisa */
.search-section {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80px;
}

.search-section p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.search-section input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    width: 500px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-section button:hover {
    background-color: #0056b3;
}

/* Lista de vídeos */
.video-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: left;
    margin: 10px;
}

.video-item {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    width: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.video-item:hover {
    transform: translateY(-5px);
}

.video-item img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.video-item h3 {
    font-size: 1rem;
    margin: 0;
    height: 2.5rem;
    line-height: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-item p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    min-height: 40px;
}

/* Botões de curtir e não curtir */
.like-dislike-container {
    display: flex;
    justify-content: space-between;
    max-width: 560px;
    gap: 5px; 
    margin-top: 5px;
}

button.liked, button.disliked , button.rate-button{
    border: none;
    padding: 0.9rem 2rem; 
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    display: inline-block;
    width: 50%; 
}

button.rate-button {
    background-color: rgb(207, 203, 203);
    color: #333;
}

button.liked {
    background-color: green;
    color: white;
    font-weight: bold;
}

button.disliked {
    background-color: red;
    color: white;
    font-weight: bold;
}

button.rate-button:hover{
    background-color: rgb(145, 142, 142);
}

button.liked:hover {
    background-color: darkgreen;
}

button.disliked:hover {
    background-color: darkred;
}
/* Estilo para paginação */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 1rem;
}

.pagination .step-links {
    display: flex;
    gap: 10px; /* Espaçamento entre os links de navegação */
}

.pagination .step-links a {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination .step-links a:hover {
    background-color: #0056b3;
}

.pagination .step-links .current {
    font-weight: bold;
    color: #333;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.pagination .step-links a[disabled] {
    pointer-events: none;
    background-color: #ddd;
}

.pagination .step-links span {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    margin-top: auto;
}
/* Estilização do menu */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    padding: 10px;
}

nav ul .submenu {
    display: none; /* Submenu invisível por padrão */
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    top: 100%;
    left: 0;
}

nav ul .submenu li {
    padding: 8px 12px;
}

nav ul .submenu li a {
    color: #333;
    text-decoration: none;
    display: block;
}

nav ul .submenu li a:hover {
    background-color: #f0f0f0;
}
/* Esconde o checkbox padrão */
.interest-label input[type="checkbox"] {
    display: none;
  }
  
  /* Estilo do botão */
  .interest-label span {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #cfcfcf;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Cor de hover para o botão */
  .interest-label span:hover {
    background-color: #dcdcdc;
  }
  
  /* Cor do botão quando o checkbox está marcado */
  .interest-label input[type="checkbox"]:checked + span {
    background-color: #4396ee;
    color: white;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn-save {
    background-color: #89c98b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-clear {
    background-color: #da635a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-save:hover {
    background-color: #45a049;
  }
  
  .btn-clear:hover {
    background-color: #e53935;
  }
    
  .profile-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .profile-container.interest {
    max-width: 1200px;
  }
  .profile-container h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
  }
  /* Cabeçalho */
.profile-header {
    margin-bottom: 20px;
}

.profile-header h1 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #333;
}

.profile-header p {
    font-size: 14px;
    color: #555;
}
  .profile-container p {
    margin: 10px 0;
    color: #555;
  }
  
  .interests-list {
    list-style-type: none;
    padding: 0;
  }
  
  .interests-list li {
    background-color: #e8f5e9;
    color: #2e7d32;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
  }
  
  .filters-form {
    margin-top: 15px;
  }
  .interest_area {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto;
    flex-wrap: wrap;
    padding: 50px;
  }
  .action-buttons {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn-edit {
    background-color: #1e88e5;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    width: 50%;
    height: 20px;
  }
  
  .btn-edit:hover {
    background-color: #1565c0;
  }
  .profile-container button {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
  }
  .profile-container .btn-danger {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 40px;
  }
  
  .btn-danger:hover {
    background-color: #c62828;
  }
  

/* Responsividade */
@media (max-width: 768px) {
    .video-item {
        width: 100%;
    }

    .search-section input[type="text"] {
        width: 100%;
    }
}
