{% extends 'base.html' %}

{% block title %}
    Perfil de {{ user.username }}
{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-image">
                <img src="{{ user.userprofile.avatar.url }}" alt="Avatar" class="user-avatar" width="50px">
            </div>
            <div class="profile-left">
                <h1>Bem-vindo, {{ user.username }}</h1>
                <p><strong>Data de criação:</strong> {{ user.date_joined|date:"d/m/Y H:i" }}</p>
                <a href="{% url 'video_history' %}">Visualizar seu Histórico</a>
                <a href="{% url 'edit_profile' %}" class="btn btn-primary">Editar Perfil</a>

            </div>
        </div>

        <section class="interests-section">
            <h3>Áreas de Interesse</h3>
            <ul class="interests-list">
                {% for interest in user.userprofile.interests.all %}
                    <li>{{ interest.name }}</li>
                {% empty %}
                    <li>Você ainda não selecionou áreas de interesse.</li>
                {% endfor %}
            </ul>
        </section>
    
        <section class="filters-section">
            <h3>Filtros de Preferência</h3>
            <form method="post" class="filters-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-save">Salvar Preferências</button>
            </form>
        </section>
    
        <div class="action-buttons">
            <a href="{% url 'areas_interesse' %}" class="btn btn-edit">Editar Áreas de Interesse</a>
            <form method="get" action="{% url 'delete_profile' %}" class="delete-profile-form">
                <button type="submit" class="btn btn-danger">Deletar Perfil</button>
            </form>
        </div>
    </div>
{% endblock %}
