{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile-container interest">
  <h2>Selecione suas áreas de interesse</h2>
  <form method="post" id="interest-form">
    <div class="interest_area">
    {% csrf_token %}
    {% for interest in form.interests.field.queryset %}
      {% if interest.is_root %}
        {% include 'interest_recursive.html' with interest=interest selected_interests=form.initial.interests %}
      {% endif %}
    {% endfor %}
  </div>
    <div class="button-group">
      <button type="submit" class="btn-save">Salvar</button>
      <button type="button" id="clear-selection" class="btn-clear">Limpar Seleções</button>
    </div>
  </form>
  
</div>
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}
